body {
    background-color: #fff;
}

.header{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2em;
    text-align: center;
}


h1{
    text-align: center;
    margin-top: 100px;

}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer{}


.box {
    margin-top: 70px;
    margin-left: 40px;

    margin-bottom: 0px;
    float: left;
    width: 400px;
}


.sample_model {
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 0px;
    float: left;
    width: 400px;
    height: 400px;
}

.label{
    text-align: center;
}

div#box_ref{
    /* hue: 0-360, saturation: 0-100%, lightness: 0-100% */
    background-color: hsl(0,75%,75%);
}

div#box_sample {
    background-color: hsl(180,75%,75%);
}

.updown_btn{
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
.default_btn{
    margin: 60px;
    width:120px;
    height:50px;
}



input#bar {
    margin-top: 20px;
    width: 300px;
}
output#bar_output {
    /* margin-top: 20px; */
    /* width: 120px; */
}

.download {
    margin-top: 120px;
}
